<%= @question.title %>

<%= @question.content %>

<div id="answers">
  <% if @question.answers.any? %>
   <ul id="answer-list">
    <% @question.answers.each do |answer| %>
      <%= render answer, question: @question, answer: answer %>
    <% end %>

    </ul>
    <% else %>
    <p>There are no answers yet!</p>
  <% end %>
</div>
</b>


<%= link_to "Add an Answer", new_question_answer_path(@question), remote: true %>


<a href="/">Return to main page</a>
