<div class="container"><strong><%= @question.title %></strong></div>
</br>


<div id="answers">
  <% if @question.answers.any? %>
   <ul id="answer-list">
    <% @question.answers.each do |answer| %>
      <%= render answer, question: @question, answer: answer %>
    <% end %>
    </ul>
  <% else %>
    <p>There are no answers yet!</p>
  <% end %>
</div>
</b>

<div class="container">

  <%= link_to "Add an Answer", new_question_answer_path(@question), remote: true %> |

  <%= link_to 'Return to main page', root_path %>
</div>
