<div class="jumbotron"><h1>Drop the stack</h1></div>

<div class="container">Trending Questions:

<% @questions.each do |question| %>
<li> <a href="/questions/<%= question.id%>"><%= question.title %></a></li>

<% end %>

</br>

<%= link_to "Add a Question", new_question_path %> |



<a href="/">Return to main page</a>
</div>
